footer {
    margin-left: 230px;
    padding: 50px 90px;
    color: #a9a9a9;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
}
footer > a {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}
