.input-field {
    font-family: "Noto Sans JP";
    /* min-width: 240px; */
}
.input-field input {
    width: 100%;
    height: 56px;
    border: 1px solid #828282;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}
.input-field textarea {
    width: 100%;
    border: 1px solid #828282;
    border-radius: 8px;
    padding: 18px 12px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #333333;
    resize: none;
}
.input-field span.helper {
    font-size: 10px;
}
.input-field.sm input {
    height: 40px;
}
.input-field.md input {
    height: 56px;
}
.input-field.lg input {
    height: 72px;
}
.input-field label {
    color: #333333;
    font-size: 12px;
}
.input-field span {
    color: #333333;
}
.input-field span.start-icon,
.input-field span.end-icon {
    color: #828282;
    font-size: 23px;
}
.input-field input:hover {
    border: 1px solid #333333;
}
.input-field textarea:hover {
    border: 1px solid #333333;
}
.input-field input:focus {
    border: 1px solid #2962ff;
    outline: none;
}
.input-field textarea:focus {
    border: 1px solid #2962ff;
    outline: none;
}
.input-field:focus-within label,
.input-field:focus-within span {
    color: #2962ff;
}
.input-field:focus-within span.start-icon,
.input-field:focus-within span.end-icon {
    color: #333333;
}
.input-field.error label,
.input-field.error span {
    color: #d32f2f;
}
.input-field.error input {
    border: 1px solid #d32f2f;
}
.input-field.error input:hover {
    border: 1px solid #333333;
}
.input-field.error input:focus {
    border: 1px solid #d32f2f;
    outline: none;
}
.input-field.error:focus-within label {
    color: #d32f2f;
}
.input-field input:disabled {
    height: 56px;
    border: 1px solid #828282;
    border-radius: 8px;
    padding-left: 12px;
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: 500;
    background-color: #f2f2f2;
}
.has-start-icon,
.has-end-icon {
    position: relative;
}
.has-start-icon input {
    padding-left: 42px;
}
.has-end-icon input {
    padding-right: 42px;
}
.has-start-icon span.start-icon {
    position: absolute;
    top: 52%;
    left: 12px;
}
.has-end-icon span.end-icon {
    position: absolute;
    top: 52%;
    right: 12px;
}
.input-field.full-with {
    width: 100%;
}
