.input-gallery {
    margin-top: 35px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.row:not(:last-child) {
    margin-bottom: 42px;
}
.row .code {
    font-family: "Ubuntu Mono";
    font-size: 12px;
    margin-bottom: 13px;
}
