main {
    min-width: 600px;
    margin-left: 230px;
    padding-left: 90px;
    padding-top: 50px;
    padding-right: 90px;
}
main h2 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 24px;
}
